<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>SHOP ALL</li>
                <li>OUR STORY</li>
            </ul>
            <br>
            <img src="" alt="">
            <br>
            <ul>
                <li>ES</li>
                <li>EN</li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
            </ul>
        </nav>      
    </header>
    <main>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <nav>
                    <ul>
                        <li>Wines</li>
                        <li>Offers</li>
                        <li>Grapes</li>
                        <li>Regions</li>
                    </ul>
                </nav>
            </div>
        <article>
            <img src="" alt="">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita saepe sapiente nobis! Aliquid veniam natus fuga at autem! Molestiae sit labore id tenetur fugiat optio ducimus reiciendis quas sint esse.</p>
        </article>
        <article>
            <section>
                <h2>Best rated among our customers</h2>
                <p>updated every week</p>
                <div>
                    <img src="" alt="">
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>4.2</p>
                        <p>#'s ratings</p>
                    </div>
                    <div>
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>4.2</p>
                        <p>#'s ratings</p>
                    </div>
                    <div>
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>4.2</p>
                        <p>#'s ratings</p>
                    </div>
                    <div>
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>4.2</p>
                        <p>#'s ratings</p>
                    </div>
                    <div>
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
            </section>
        </article>
            <section>
                <h2>Wine-not dive into millions of ratings</h2>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>Great offer, Wine-not?</p>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>Wine-not explore the most popular wines?</p>
                    </div>
                </div>
            </section>
            <section>
                <h2>Never miss a good bottle again</h2>
                <p>Receive updates about new wines and promotions</p>
                <div>
                    <button> JOIN MAILING LIST</button>
                </div>
            </section>
    </main>
    <footer>
        <section>
            <h2>Trusted by Trillions to discover and buy the right wine time.</h2>
            <div><p>Shop the world's largest wine marketplace</p></div>
            <div><p>Our support team is always here to help</p></div>
            <div><p>Careful delivery right to your doorstep</p></div>
            <div><p>Check honest reviews of any wine before purchase</p></div>
        </section>
        <section>
           <div>
            <h4>ABOUT</h4>
            <div><p>Our story</p></div>
            <div><p>Media</p></div>
        </div>
        <div>
            <h4>LEGAL STUFF</h4>
            <div><p>Terms of use</p></div>
            <div><p>Terms of sale</p></div>
            <div><p>Privacy policy</p></div>
        </div>
        <div>
            <h4>MY ACCOUNT</h4>
            <div><p>Sign in</p></div>
            <div><p>Register</p></div>
            <div><p>Order status</p></div>
        </div>
        <div>
            <h4>HELP</h4>
            <div><p>Shipping</p></div>
            <div><p>Returns</p></div>
        </div>
        </section>
        <div>
            <p>© 2022 Wine-not Inc. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>