<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
</head>
<body>
    <%- include('partials/header.ejs')  %>
    <main>
        
        <figure class="fig-main">
            <img src="/images/la-rioja-vina-alberdi-crianza.png" alt="">
            <br>
            <figcaption class="">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit quae facilis, error voluptate ullam, perspiciatis molestiae praesentium ad facere minus nisi aut commodi alias quod quidem sunt itaque eaque deleniti.
            </figcaption>
        </figure>

            <div  class="nav-main">
                <nav>
                    <ul> 
                        <li>Wines</li>
                        <li>Offers</li>
                        <li>Grapes</li>
                        <li>Regions</li>
                    </ul>
                </nav>
            </div>

        <article class="sect1">
            <img class="sect1img" src="/images/Logo - Proyecto Integrador _001.png" alt="">
            <div class="sect1txt">
                <p> Lorem ipsum dolor sit amet 
                    <br> consectetur adipisicing elit. 
                    <br>Expedita saepe sapiente nobis! 
                    <br>Aliquid veniam natus fuga at autem! 
                    <br>Molestiae sit labore id tenetur fugiat 
                    <br>optio ducimus reiciendis quas sint esse.
                </p>
            </div>
        </article>

        <article class="sect2">
            <h2>Best rated among our customers</h2>
            <p>updated every week</p>
            <section class="sect2rating">
                <div class="card-wine-info">
                    <div class="img-rating">
                        <img src="/images/ps-garcia-vigno-carignan.png" alt="">
                        <div class="rating">
                            <p>4.5</p> 
                            <p>#'s Rating</p>
                        </div>
                    </div>
                    <div class="wine-info">
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="card-wine-info">
                    <div class="img-rating">
                        <img src="/images/ps-garcia-vigno-carignan.png" alt="">
                        <div class="rating">
                            <p>4.5</p> 
                            <p>#'s Rating</p>
                        </div>
                    </div>
                    <div class="wine-info">
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="card-wine-info">
                    <div class="img-rating">
                        <img src="/images/ps-garcia-vigno-carignan.png" alt="">
                        <div class="rating">
                            <p>4.5</p> 
                            <p>#'s Rating</p>
                        </div>
                    </div>
                    <div class="wine-info">
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="card-wine-info">
                    <div class="img-rating">
                        <img src="/images/ps-garcia-vigno-carignan.png" alt="">
                        <div class="rating">
                            <p>4.5</p> 
                            <p>#'s Rating</p>
                        </div>
                    </div>
                    <div class="wine-info">
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="card-wine-info">
                    <div class="img-rating">
                        <img src="/images/ps-garcia-vigno-carignan.png" alt="">
                        <div class="rating">
                            <p>4.5</p> 
                            <p>#'s Rating</p>
                        </div>
                    </div>
                    <div class="wine-info">
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div class="card-wine-info">
                    <div class="img-rating">
                        <img src="/images/ps-garcia-vigno-carignan.png" alt="">
                        <div class="rating">
                            <p>4.5</p> 
                            <p>#'s Rating</p>
                        </div>
                    </div>
                    <div class="wine-info">
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                
            </section>           
        </article>

            <section class="wine-advert">
                
                <h2>Wine-not dive into millions of ratings?</h2>
                <div class="advert">
                    <div class="info">
                        <div class="img-adv">
                            <img src="/images/veramonte-reserva-merlot.png" alt="">
                        </div>
                        <div class="advert-inf">
                            <p>Great offer, Wine-not?</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="img-adv">
                            <img src="/images/ps-garcia-facundo.png" alt="">
                        </div>
                        <div class="advert-inf">
                            <p>Wine-not explore the most popular wines?</p>
                        </div>
                </div>
            </div>
            </section>

            <section class="mail-info">
                <div class="data-mail">
                    <h2>Never miss a good bottle again</h2> <br>
                    <p>Receive updates about new wines and promotions</p>
                </div>
                <div class="data-mail">
                    <button class="btn-mail"> JOIN MAILING LIST</button>
                </div>
            </section>
    </main>
    <%- include('partials/footer.ejs') %> 
</body>
</html>