<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e43b31c5be.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header.ejs')  %> 
    <main>
            <figure class="">
                <img src="" alt="">
                <figcaption class="">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit quae facilis, error voluptate ullam, perspiciatis molestiae praesentium ad facere minus nisi aut commodi alias quod quidem sunt itaque eaque deleniti.
                </figcaption>
            </figure>
            <div>
                <nav>
                    <ul>
                        <li>Wines</li>
                        <li>Offers</li>
                        <li>Grapes</li>
                        <li>Regions</li>
                    </ul>
                </nav>
            </div>
        <article>
            <img src="" alt="">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita saepe sapiente nobis! Aliquid veniam natus fuga at autem! Molestiae sit labore id tenetur fugiat optio ducimus reiciendis quas sint esse.</p>
        </article>
        <article>
            <section>
                <h2>Best rated among our customers</h2>
                <p>updated every week</p>
                <div>
                    <img src="" alt="">
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>4.2</p>
                        <p>#'s ratings</p>
                    </div>
                    <div>
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>4.2</p>
                        <p>#'s ratings</p>
                    </div>
                    <div>
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>4.2</p>
                        <p>#'s ratings</p>
                    </div>
                    <div>
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>4.2</p>
                        <p>#'s ratings</p>
                    </div>
                    <div>
                        <p>Wine name</p>
                        <p>Wine class</p>
                        <p>Price</p>
                    </div>
                </div>
            </section>
        </article>
            <section>
                <h2>Wine-not dive into millions of ratings</h2>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>Great offer, Wine-not?</p>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <div>
                        <p>Wine-not explore the most popular wines?</p>
                    </div>
                </div>
            </section>
            <section>
                <h2>Never miss a good bottle again</h2>
                <p>Receive updates about new wines and promotions</p>
                <div>
                    <button> JOIN MAILING LIST</button>
                </div>
            </section>
    </main>
    <%- include('partials/footer.ejs') %> 
</body>
</html>