<header>

    <nav class="nav-bar">
        <div class="links">
            <ul>
                <li>SHOP ALL</li>
                <li>OUR STORY</li>
            </ul>
        </div>
        
        <br>
        
        <div class="logo">
            <a href="/views/"> <img src="/images/Logo2.jpeg" alt="Logo Wine"> </a>
        </div>
        <br> 
        <div class="idiom">
            <ul >
                <li>ES</li>
                <li>EN</li>
                <li> <img src="/public/images/Cart2.webp" alt=""> </li>
                <li><img src="/images/cart-buy.png" alt=""></li>
            </ul>
        </div>
    </nav>      
</header>