<header>
    <i class="fa-light fa-bars"></i>>
    <nav class="header-navbar-mobile">
        
    </nav>
    <nav class="header-navbar-desktop">
        <ul>
            <li>SHOP</li>
            <li>OUR STORY</li>
        </ul>
        <img class="logo" src="/images/Wine - Not logo.svg" alt="">
        <ul>
            <li>ES</li>
            <li>EN</li>
            
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </nav>      
</header>